/* Styles */
body {
    font-size: 12px;
    background: url('../images/header.png') repeat-x top center;
}

* {
    font-family: Verdana,Arial,sans-serif;
}

.ui-tabs .ui-tabs-panel {
    padding-top: 5px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 5px;
}

.header {
    font-weight: bold;
}

.header td, .bg0 td, .bg1 td {
    padding-left: 4px;
    padding-right: 4px;
}

.hidden_msg_content {
    display: none;
}

.message_content {
    padding-left: 10px;
}

/* Main */
#topnav {
    padding: 16px;
    height: 61px;
    font-size: 2.0em;
}

#topnav * {
    display: inline-block;
}

#incntre-logo {
    margin-left: 40px;
}

#tabs {
    box-shadow: 1px 1px 2px 1px #ccc;
}

